@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  width: 990px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
